#root {
    margin: 0 80px;
}

form {
    position: relative;
}

input {
    min-width: 0;
}

form {
    display: grid;
    grid-gap: 20px;
}

.ParameterConfiguration__Fieldset {
    display: grid;
    grid-template-columns: repeat(4, 1fr) 80px;
    align-items: flex-start;
    grid-gap: 20px;
}
.ParameterConfiguration__MappingFieldset {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: flex-start;
    grid-gap: 10px;
}

.SuggestiveInput {
    display: grid;
    grid-template-columns: 1fr 40px;
    grid-template-areas:
        'input button'
        'suggestions suggestions';
}
.SuggestiveInput__Suggestions {
    grid-area: suggestions;

    display: none;

    height: 140px;
    width: 50vw;

    overflow: auto;

    border: 1px solid black;
}
.SuggestiveInput__Suggestions--IsExpanded {
    display: block;
}

button.SuggestiveInput {
    text-align: center;
}

section {
    position: relative;

    margin-bottom: 80px;
}
section.is-dragging * {
    /* disable interactions with all children, so that overing them will *not* trigger drag leave/enter events */
    pointer-events: none;
}

textarea {
    resize: vertical;
}

.drag-drop-placeholder {
    /* let pointer interactions to go through to let clicking the elements below */
    pointer-events: none;

    position: absolute;

    width: 100%;
    height: 100%;

    display: grid;
    align-items: center;
    justify-content: center;

    opacity: 0;
    transition: opacity ease-in-out 0.1s;

    background-color: lightgray;
    border: 2px solid gray;
}

.drag-drop-placeholder.drag-drop-placeholder--dragging {
    opacity: 1;
}

.TextList {
    list-style: none;
    margin: 0;
    padding-inline-start: 0;
}

.JsonTree {
    list-style: none;
    margin: 0;
    padding-inline-start: 0;

    overflow: hidden;
}

.JsonElement {
    overflow: hidden;

    display: flex;
    flex-direction: column;
    padding-left: 10px;
}
