#root {
    margin: 0 80px;
}

form {
    position: relative;
}

input {
    min-width: 0;
}

form {
    display: grid;
    grid-gap: 20px;
}
.fieldset {
    display: grid;
    grid-template-columns: repeat(4, 1fr) 80px;
    grid-gap: 20px;
}

section {
    margin-bottom: 80px;
}
section.is-dragging * {
    /* disable interactions with all children, so that overing them will *not* trigger drag leave/enter events */
    pointer-events: none;
}

textarea {
    resize: vertical;
}

.drag-drop-placeholder {
    /* let pointer interactions to go through to let clicking the elements below */
    pointer-events: none;

    position: absolute;

    width: 100%;
    height: 100%;

    display: grid;
    align-items: center;
    justify-content: center;

    opacity: 0;
    transition: opacity ease-in-out 0.1s;

    background-color: lightgray;
    border: 2px solid gray;
}

.drag-drop-placeholder.drag-drop-placeholder--dragging {
    opacity: 1;
}
