#root {
    margin: 0 80px;
}

form {
    position: relative;
}

input {
    min-width: 0;
}

form {
    display: grid;
    grid-gap: 20px;
}

section {
    position: relative;

    margin-bottom: 80px;
}

textarea {
    resize: vertical;
}
